#root{
    margin: 0;
    padding: 0;
}

.playBoard{
    height: 50vh;
    width: 50vw;
}

.box{
    height: 5vh;
    width: 5vw;
    border-color: black;
    border-style:solid;
    font-size: 3vh;
    text-align: center;
    padding:0;
    margin: 0;
}
