.body,html,#root{
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board{
    height: 60vh;
    width: 61vw;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
}

.row{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.box{
    height: 20vh;
    width: 20vw;
    border-color: black;
    border-style:solid;
    font-size: 7vh;
    text-align: center;
}

.selected{
    background-color: rgb(1, 96, 1);
}